<%if @total%>
    <% @total.each do |comment_info|%>
        <div class="each_comment clearfix">
            <%if comment_info["to_name"]=="" %>
                <div class="comment_from_person">
                    <a class="first_name"><%= comment_info["from_name"]%></a>
                </div>
            <%else %>
                <div class="comment_from_person">
                    <a class="first_name"><%= comment_info["from_name"]%></a> 回复 <a><%= comment_info["to_name"]%></a>
                </div>
            <%end%>
            <div class="comment_content clearfix">
                <%= comment_info["comment"]["content"] %>
            </div>
            <div class="bottom-link">
                <span></span>
                <a class="expand" href="javascript:void(0)">回复</a>
            </div>
            <div class="add">
                    <textarea class="textarea"></textarea>
                    <div>
                        <a href=<%= activite_add_in_comment_path(comment_info["comment"]["activity_id"])%> 
                            data-cur_u=<%= session[:user_name]%> 
                            data-ac_id=<%= comment_info["comment"]["activity_id"] %> class="comment commentBtn">确定</a>
                        <a href="javascript:void(0)" class="cancel commentBtn">取消</a>
                    </div>
                    
            </div>
            
        </div>
    <% end %>
<%else%>
    <div class="text-center no-comment">
        <span class="icon-warning">
            
        </span>
        还木有人评论，赶快抢个沙发！
    </div>
<%end%>


