<% @total.each do |comment_info|%>
    <div class="each_comment">
        <span class="inline-text">
            <%if comment_info["to_name"]=="" %>
                <span class="first_name"><%= comment_info["from_name"]%></span>
                <span>:
                    <%= comment_info["comment"]["content"] %>
                </span>
                
            <%else %>
                <span class="first_name"><%= comment_info["from_name"]%>回复<%= comment_info["to_name"]%>:</span>
                <span>
                    <%= comment_info["comment"]["content"] %>
                </span>
            <%end %>
        </span>
        <a class="expand" href="javascript:void(0)">回复</a>
        <div class="add">
            <input ></input>
            <a href=<%= activite_add_in_comment_path(comment_info["comment"]["activity_id"])%> 
                    data-cur_u=<%= session[:user_name]%> 
                    data-ac_id=<%= comment_info["comment"]["activity_id"] %> class="comment">回复</a>
            
            
        </div>
    </div>
<% end %>


