<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8" http-equiv="Content-Type" content="text/html">
	<link href="/assets/activities/datetimepicker.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/assets/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/assets/activities/datetimepicker.js"></script>
	<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/activities/bootstrap-datetimepicker.zh-CN.js"></script>
	
</head>
<body>
<div class = "container main-pad">
        <%= render "./nuts/header"%>
        <div class="page-header text-center">
              <h1>发布活动 <small>Subtext for header</small></h1>
        </div>
    
            <div class = "col-md-8 col-md-offset-2">
           <%= form_for @activity, url: {controller: "activites", action: "update", id: @activity.id},html: {class:"form-horizontal"},data:{activity_info:@activity} do |f| %>
              <div class = "form-group  has-feedback">
                  <label for = "name" class="control-label col-sm-2">活动名称</label>
                  <div class="col-sm-10 form-space">
                      <%= f.text_field(:name ,id:"name",placeholder:"不超过10个字",class:"form-control")%>
                      <span class="glyphicon  form-control-feedback"></span>
                  </div>
                  
               </div>
               
              
              <div class = "form-group has-feedback">
                  <label for = "place" class="control-label col-sm-2">活动地址</label>
                  <div class="col-sm-10">
                       <%= f.text_field(:detail_addr ,id:"place",class:"form-control")%>
                       <span class="glyphicon  form-control-feedback"></span>
                  </div>
               </div>
        
              <div class = "form-group has-feedback">
                   <label for = "starttime" class="control-label col-sm-2">活动时间</label>
                  <div class = "col-sm-10">
                      <div class = "col-sm-10 form-group">
                          <label for = "starttime" class="control-label text-left">开始时间</label>
                          <input id="starttime" class="" type="text" name=activity[start_date]>
                          <span class="glyphicon  form-control-feedback"></span>
                      </div>
                      
                       <div class = "col-sm-10 form-group">
                          <label for = "endtime" class="control-label text-left">结束时间</label>
                            <input id="endtime" class="" type="text" name=activity[end_date]>
                          <span class="glyphicon  form-control-feedback"></span>
                      </div>
                    </div>
                  
              </div>
              
              
              <div class = "form-group">
                  <label for = "picture" class="control-label col-sm-2">海报</label>
                   <div class="col-sm-10">
                       
                  </div>
               </div>
               
               
               
               <div class = "form-group has-feedback">
                  <label for = "want_join" class="control-label col-sm-2">活动人数</label>
                  <div class="col-sm-10">
                       <%= f.number_field(:want_join ,id:"want_join",class:"form-control",min:1)%>
                       <span class="glyphicon  form-control-feedback"></span>
                  </div>
               </div>
                
                <div class = "form-group has-feedback">
                  <label for = "tag" class="control-label col-sm-2">添加标签</label>
                  <div class="col-sm-10">
                       <%= f.text_field(:tag ,id:"tag",class:"form-control")%>
                       <span class="glyphicon  form-control-feedback"></span>
                  </div>
               </div>

           
               <div class = "form-group has-feedback">
                  <label for = "content" class="control-label col-sm-2">活动描述</label>
                  <div class="col-sm-10">
                       <%= f.text_area(:content ,id:"content",class:"form-control",size:"20x10")%>
                       <span class="glyphicon  form-control-feedback"></span>
                  </div>
               </div>
               
                <div class="row">
                    <%= f.submit "提交更改", class:"btn btn-info col-md-4 col-md-offset-4", id:"submit" %>
                </div>
         

        <% end %>
          
          
          
            
       
    </div>
            
</div>

<script type="text/javascript" src="/assets/activities/edit.js"></script>
</body>