<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8" http-equiv="Content-Type" content="text/html">
</head>
<body>
<div class = "container">
        <div class = "col-md-8 col-md-offset-2">
           <%= form_for :activity, url: {controller: "activites", action: "launch"},html: {class:"form-horizontal"} do |f| %>
              <div class = "row form-group ">
                  <label for = "name" class="control-label">活动名称</label>
                  <%= f.text_field(:name ,id:"name",placeholder:"不超过10个字",class:"form-control")%>
               </div>
              
              <div class = "row">
                  <label for = "place">活动地址</label>
                  <%= f.text_field(:place ,id:"place")%>
               </div>
        
              <div class = "row">
                  <div class = "col-md-4">
                      <label for = "starttime">开始时间</label>
                      <%= f.time_field :start_date,id:"starttime"%>
                  </div>
                  <div class = "col-md-4">
                      <label for = "endtime">结束时间</label>
                      <%= f.time_field :start_date,id:"starttime" %>
                  </div>
              </div>
              
              <div class = "row">
                  <label for = "picture">上传海报</label>
                  <%= f.file_field(:picture ,id:"picture")%>
               </div>
               
              <div class = "row">
                  <label for = "number">活动人数</label>
                  <%= f.number_field(:number ,id:"number")%>
              </div>
              
              <div class = "row">
                  <label for = "tag">添加标签</label>
                  <%= f.text_field(:tag ,id:"tag")%>
              </div>
        

              
              <%= f.label :content,"活动描述"%>
              <%= f.text_area :content ,size:"20*10" %>

          

        <% end %>
          
          
          
            
       
    </div>
</div>


</body>