<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>果壳活动</title>
		<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/activities/show.scss" rel="stylesheet" type="text/css"/>
		<!--<link href="/assets/application.css" rel="stylesheet" type="text/css"/>-->
		<script type="text/javascript" src="/assets/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/header.js"></script>
	</head>
	<body>
		<%= render "./nuts/header" %>
		<div class="container wrap">
			<div id="activity-abstract-header">
				<div class="activity-header-left">
					<img src="" alt="活动海报" class="activity_poster"/>
				</div>
				<div class="activity-header-right">
					<p class="activity-title"><%=@activity.name%></p>
					<div class="line-info">
						<span alt="活动时间" class="time-icon myicon"/></span>
						<span><%=@activity.start_date%>~<%=@activity.end_date%></span>
					</div>
					<div class="activity-place line-info">
						<span  class="place-icon myicon"/></span>
	  					<span><%=  @activity.city%></span>
					</div>
					<div class="activity-recommend line-info">
						<img src="/assets/recommend.png" class="myicon"/>
						<span><strong><%= @activity.recommend%></strong>人推荐</span>
					</div>
					<div class="activity-recommend line-info">
						<img src="/assets/join.png" class="myicon"/>
						<span><strong><%= @activity.want_join%></strong>人想参加</span>
					</div>
					<div class="join-btn line-info">
						<%= button_to "我想参加", {:controller => "activites" , :action => "add" , acid: @activity.id , type: "recommend"} , {method: :post,class: "btn btn-info"} %>
					</div>
				</div>
			</div>
			<div id="activity-main-body">
				<div class="activity-main-left">
					<div>
						<h3>活动内容</h3>
						<div>
							<%=@activity.content%>
						</div>
						
					</div>
					<div >
						<h3 class="column">活动标签</h3>
						<%if @activity.tag %>
						<span class="label label-default"><%= @activity.tag %></span>
						<%end%>
					</div>
					<div class="clearfix">
						<h3 class="column">有什么问题，向发起人咨询吧！</h3>
						<div id="add_comment" >
							<div class="control textarea">
								<textarea  placeholder="评论区域"></textarea>
							</div>
							<div class="comment_btn">
								<a href=<%= activite_add_in_comment_path(@activity.id)%> 
				                data-single_fromname=<%= session[:user_name] %> 
				                data-single_ac_id=<%= @activity.id %> 
				                data-single_to_name=<%= @activity_owner_name %> class="commentBtn">回复</a>
							</div>
						  	
						</div>
						
					</div>
					<div >
						<h3 class="column">全部讨论</h3>
						<div id="comment_district">
						  	<%= render partial: "comment_partial", :object => @total%>
						</div>
					</div>
				</div>
				<div class="activity-main-right">
					
				</div>
			</div>
		
		</div>

		
		
		
		
		<% if @activity_owner_id == @activity.user_id %>
			<%= button_to "Edit", {:controller => "activites", :action => "edit", :id => @activity.id},method: :get%>
			<%= button_to "delete", {:controller => "activites", :action => "delete", :id => @activity.id}, :method => :delete, data: { confirm: "Are you sure?"} %>
			<br>
		<% end %>
		<%= link_to "Back to activity list", {:controller => "activites", :action => "all_events"} %>
		
		
	<script src="/assets/activities/addComment.js"></script>
	</body>
</html>


