<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<title>登录页面</title>
	<link href="/assets/login.scss" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/assets/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/assets/account/jquery.i18n.properties-1.0.9.js" ></script>
	<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/account/jquery-ui-1.10.3.custom.js"></script>
	<script type="text/javascript" src="/assets/account/jquery.validate.js"></script>
	<script type="text/javascript" src="/assets/account/md5.js"></script>
	<script type="text/javascript" src="/assets/account/page_login.js?lang=zh"></script>
<!--[if IE]>
  <script src="/assets/account/html5.js"></script>
<![endif]-->
<!--[if lte IE 6]>
	<script src="/assets/account/DD_belatedPNG_0.0.8a-min.js" language="javascript"></script>
	<script>
	  DD_belatedPNG.fix('div,li,a,h3,span,img,.png_bg,ul,input,dd,dt');
	</script>
<![endif]-->
</head>
<body class="loginbody">
<div class="dataEye">
	<div class="loginbox">
		<div class="login-content">
			<div class="loginbox-title">
				<h2>欢迎登录</h2>
                <label style="color:red"> <%= @error_message %><label>
			</div>
            <%= form_for :account, url: {controller: "account", action: "login"}, html: {id: "signupForm"} do |f| %>
            	<input name="utf8" type="hidden" value="✓">
                <div class="login-error" style="display: none;"></div>
                <div class="row">
                    <label class="field" style="display: none;">用户名</label>
                    <%= f.text_field :email, class:"input-text-user input-click valid", id: "email" %>
                </div>
                <div class="row">
                    <label class="field" style="display: none;">密码</label>
                    <%= f.password_field :password, class: "input-text-password input-click", id: "password"%>
                </div>
                <div class="row btnArea">
                    <%= submit_tag '登录', class: "login-btn", id: "submit" %>
                </div>
            <% end %>
			<div class="row tips">
				<a href="" class="link">忘记密码</a>
			</div>
		</div>
		<div class="go-regist">
			还没有账号？请
            <%= link_to "立即注册", account_register_path%>
		</div>
	</div>
	
	<div class="loading">
        <div class="mask">
            <div class="loading-img">
            <img src="/assets/account/loading.gif" width="31" height="31">
            </div>
        </div>
    </div>
</div>
<div class="loading">
	<div class="mask">
		<div class="loading-img">
		<img src="/assets/account/loading.gif" width="31" height="31">
		</div>
	</div>
</div>
</body>
</html>