<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
		body
		{
			font-family : 微软雅黑;
		    	/*font-size : 1em;*/
		    	color : #000000;
		}
		h1{
		    	background-color : #8AC007;
			font-size : 2em; 
		    	color : black；
		}
		a:link, a:visited {
			text-decoration : none;
			color : #8AC007;
			/*background-color: #D6D6D6;*/
		}
		div.relative {
		    	position : relative;
		    	width : 1180px;
		    	height : 250px;
		    	border : 5px solid #8AC007;
		}

		right{
		    	float : right
		}
	
		font1{
		    	font-size : 1.5em;
		    	color : #8AC007;
		}
		</style>
	</head>

	<body>
	<div class="relative">
		<h1 color:#8AC007>  &nbsp; SmileNut &nbsp; 果壳同行</h1>
		<br>
			<%= image_tag "nuts.jpg", size: "140x130" %>
		<font1> &nbsp;&nbsp;
		   	<%= link_to "活动", activites_all_events_path %> &nbsp;&nbsp;
		    	<%= link_to "树洞", hole_all_holes_path %>
		</font1>

		<right>
			<%= link_to "登录", account_login_path %> &nbsp;&nbsp;
			<%= link_to "注册", account_register_path %>
			&nbsp;&nbsp;&nbsp;&nbsp;
		</right>
	</div>
	</body>
</html>

