<div>
<%= image_tag "nuts.jpg", size: "100x100" %>

            <%= 
                link_to "活动", activites_all_events_path
            %>
        
            <%= 
                link_to "树洞", hole_all_holes_path
            %>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= 
                link_to "登录", account_login_path
            %>

    <%= 
link_to "注册", account_register_path
            %>
</div>
